/* General */
.span2{
	grid-column: span 2;
}

/*------------------HOME------------------*/
#home, #about{
	display: grid;
	grid-template-columns: 0.2fr 1fr;
	grid-column-gap: 4rem ;
	grid-row-gap: 4rem;
}

#about{
	padding-bottom: 6rem;
 }

#home-projects{
	display: grid;
	grid-row-gap: 2rem;
	margin: 3rem 0 1rem 0;
}

.home-projects-grid{
	display: grid;
	grid-template-columns: 1fr 0.85fr;
	grid-column-gap: 1rem ;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	align-items: center;
}

#home-about{
	display: grid;
	grid-template-columns: 1fr 0.8fr;
	grid-template-rows: auto;
	grid-column-gap: 5rem ;
}

.home-about-title{
	grid-column: 1 / span 2;
}

.resume-button, .linkedln-button {
	display: flex;
    justify-content: center;
}

.home-footer, .about-footer{
	display: flex;
	justify-content: space-between;
}
.foot-left-grid{
	display: flex;
	grid-column-gap: 1.8rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 500px){
	#home{
		display: inline;
	}
	nav ul{
		padding-left: 0rem;
		display: flex;
		justify-content: space-between;
	}
	.about-content{
		display: flex;
		flex-wrap: wrap;
	}
	.home-projects-grid{
		display: flex;
		flex-direction: column;
	}
	#home-projects{
		display: flex;
		flex-direction: column;
	}
	.home-footer, .about-footer{
		display: inherit;
		text-align: center;
		margin-bottom: 2.2rem;
	}
	.foot-left-grid{
		justify-content: space-between;
		grid-column-gap: 0rem;
		padding-bottom: 1.5rem;
	}
	#about {
    padding-bottom: 2rem;
    display: inherit;
	}
}




/*------------------ABOUT------------------*/

.about-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 4rem;
}
.about-skill-grid{
	display: flex;
	grid-column-gap: 2rem; 
}
.center-container-about{
	padding: 7em 7em 0em 7em;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.social-grid{
	display: flex;
	margin-top: 1.5rem;
	grid-column-gap: 1rem;
}



/*------------------PROJECT PAGE------------------*/

.project-detail{
	display: flex;
	gap: 3rem;
	padding-bottom: 3rem;
}


.proj-contributions{
	grid-column: 1/span 2;
}


.content, .reflection{
	display: grid;
    grid-template-columns: repeat(30, 1fr);
}

.reflection-grid{
	display: grid;
	grid-row-gap: 1rem;
}

.side-nav{
	display: grid;
	position: absolute;
	top: 0.2rem;
	left: 2rem;
    padding-top: 2.65em
}

.main-content, .ea-solution{
	display: grid;
	grid-column-start: 9;
	grid-column-end: 24;
	padding-top: 2.8rem;
	padding-bottom: 2.8rem;
}

.reflection{
	display: grid;
	grid-row-gap: 2rem;
}

.highlight-dark, .highlight-light{
	grid-column-start: 1;
    grid-column-end: 31;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.highlight-content-dark, .highlight-content-light{
	grid-column: 7/span 20;
	padding-top: 2.1rem;
	padding-bottom: 2.1rem;
}

.sec-span{
	grid-column: 4/span 25;
	padding-top: 2.3rem;
	padding-bottom: 2.1rem;
}

.sec-span h1{
	color: white;
}

.highlight-content-light{
	color: #000000;
}

.highlight-content-dark{
	color: #ffffff;
}


.reflection{
	grid-column-start: 1;
    grid-column-end: 31;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 520px){
	.content{
		display: flex;
		flex-direction: column;
	}
	.side-nav{
    	padding-top: 0em;
    	left: 0rem;
	}
	.side-nav ul{
		grid-column-gap: 13.1rem;

	}
	.about-grid{
		display: flex;
		flex-direction: column;
		align-items: inherit;
		grid-row-gap: 0.8rem;
	}
	#contact-links{
		padding: 2.5rem 0rem 2rem 0rem;
	}
	.center-container-about {
		padding: 1em 0.9em 0em 0.9em;
	}
	.main-content{
		display: flex;
		flex-direction: column;
		padding-top: 0rem;
		margin-left: 0.9rem;
		margin-right: 0.9rem;
	}
	.project-detail{
		flex-wrap: wrap;
		gap: 0.9rem;
		margin-bottom: 2rem;
		grid-column-gap: 3rem;
	}
	.highlight-dark, .highlight-light{
		display: inherit;
	}
	.highlight-content-dark, .highlight-content-light{
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.reflection{
		display: inherit;
	}
	.social-grid{
		justify-content: center;
	}
}

@media only screen and (min-device-width: 520px) and (max-device-width: 980px) {
.project-detail{
	display: grid;
	grid-column-gap: 0rem;
	grid-row-gap: 2rem;
	padding-bottom: 3rem;
	}

.pd-context, .pd-tool{
	grid-row:1;
	}
.pd-contr{
	grid-row: 2;
	grid-column: 1/span 2;
	}
}

/*------------------EA------------------*/

#overview, .ea-solution, {
	display: grid;
	grid-row-gap: 1rem;
}

.context, .ea-considerations, .ea-usertesting, .ea-changes, .findings{
	grid-column-start: 7;
	grid-column-end: 27;
}



#ea-gamestate{
	grid-column-start: 1;
    grid-column-end: 31;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
}

.d-consid-grid, .ea-changes-grid, .trac-access-grid, .nt-solution{
	display: grid;
	grid-column-gap: 2.8em;
	align-items: center;
	grid-row-gap: 2.5rem;
	padding: 0rem 0rem 2.5rem 0rem;
}

.d-consid-grid{
	grid-template-columns: 0.85fr 1fr;
}

.ea-changes-grid, .trac-access-grid{
	grid-template-columns: 1fr 1fr;
	align-items: flex-start;
}


.currentD-grid, .revision-grid{
	display: grid;
	align-items: center;
	margin-top: 1rem;
	grid-column-gap: 2rem;
}

.currentD-grid{
	grid-template-columns: 1fr 0.6fr;
}

.findings-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2rem;
	align-items: center;
}


.revision-grid{
	grid-template-columns: 1fr 0.8fr;
}


.ea-solution-final{
	grid-column-start: 7;
	grid-column-end: 26;
	margin-top: 3rem;
	margin-bottom: 5rem;
}

.ea-solution-grid, .ea-solution-grid-inform{
	display: grid;
	grid-template-columns: 1fr 0.25fr;
	grid-column-gap: 2rem;
	border-left: .2rem solid white;
	padding-left: 2rem;
}

.ea-solution-grid{
	grid-row-gap: 5rem;
}

.ea-solution-grid-inform{
	grid-row-gap: 1.5rem;
}

.ea-solution-desc{
	grid-column: 1 / span 2;
}

.ea-impact-grid{
	display: grid;
	grid-row-gap: 1.5rem;
	margin-bottom: 2rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 520px){
	.findings-grid{
		display: inherit;
		margin:0rem 0.9rem 1rem 0.9rem;
	}
	.thefinding{
		margin: 0rem 0rem 0.8rem 0rem;
	}
	.currentD-grid, .revision-grid{
		grid-template-columns: 1fr;
	}
	.ea-changes, .ea-considerations{
		margin: 0rem 0.9rem 0rem 0.9rem;
	}
	.ea-changes-grid, .d-consid-grid{
		grid-template-columns: 1fr;
		grid-row-gap: 0.8rem;
	}
	#ea-gamestate{
		display: inherit;
	}
	.ea-solution-final{
		margin: 1rem 0.9rem 1rem 0.9rem;
	}
	.ea-solution-grid, .ea-solution-grid-inform{
		grid-template-columns: 1fr;
    	padding-left: 0.9rem;
    	grid-row-gap: 1rem;
	}
}

/* ------------------ TRACKLING ------------------*/
#trackling-mock{
	grid-column-start: 1;
    grid-column-end: 31;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
}

.track-solution-final{
	grid-column-start: 7;
	grid-column-end: 26;
	margin-top: 3rem;
	margin-bottom: 5rem;
}

.trackling-gif-grid{
	display: grid;
	grid-template-columns: 0.9fr 0.9fr;
	grid-column-gap: 3rem;
	align-items: center;
}

.trackling-solution-grid{
	display: grid;
	border-left: 0.2rem solid #BBF046;
	padding-left: 2rem;
	margin-bottom: 5rem;
}

.track-CA{
	display: grid;
	grid-column-start: 8;
	grid-column-end: 25;
	padding-bottom: 1rem;
	padding-top: 2rem;
}

.track-CA-grid{
	grid-column-start: 8;
	grid-column-end: 25;
	display: grid;
	grid-template-columns: 1fr 0.7fr;
	grid-column-gap: 2rem;
	justify-items: flex-end;
	align-items: center;
	grid-row-gap: 2rem;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 520px){
	.track-CA-grid{
		grid-template-columns: 1fr;
		margin-left: 0.9rem;
		margin-right: 0.9rem;
		justify-items: flex-start;
	}
	.trac-access-grid, .trackling-gif-grid{
		grid-template-columns: 1fr;
	}
	#trackling-mock{
		display: inherit;
	}
	.track-solution-final{
		margin-left: 0.9rem;
		margin-right: 0.9rem;
	}
	.trackling-solution-grid{
		padding-left: 0.9rem;
	}
	.trackling-gif-grid{
		margin-right: 0rem;
	}

	.track-CA{
		padding-left: 1rem;
		padding-right: 1rem;
	}

}


@media screen and (max-width: 800px){
	#home-bio{
		display: flex;
		flex-wrap: wrap;
	}
	#home{
		grid-column-gap: 0rem;
	}
}


@media screen and (min-width: 1500px)  {
	.about-grid{
		align-items: center;
	}
}