#index{
	background-color: #0F0F0F;
}

#home-bio{
	color: white;
}


/* BLACK VERSION 
p, h1, h2, h3, li, h5{
	color: white;
}


.highlight-content-light h1, .highlight-content-light h2, 
#trackling-mock h1, #trackling-mock h2, #trackling-mock p, #trackling-mock h5,

}

#trackling-mock strong{
	color: #a9d100;
	font-family: 'neue_haas_grotesk_display65Md';
}


h2.project-title{
	font-family: 'AGaramondPro-Regular';
  font-style: italic;
  font-weight: lighter;
  font-size: 1.4rem;
}
*/

* {
    box-sizing: border-box;
    word-wrap: break-word;
}

img{
	max-width: 100%;
	height: auto;
}

/* top right bottom left */
.main-container{
	margin:4rem 0 2rem 2rem;
}

.home-subbio{
	white-space: nowrap;
}

.home-subbio p{
	margin: 0.15rem 0rem 0.15rem 0rem;
}

.home-subbio img{
 float:left;
 margin-right: 0.5rem;
 align-items: center;
}


nav ul{
 	margin-top: 0.2rem;
 	list-style-type: none;
}

nav li{
	margin-bottom: 1rem;
}

nav li a , .foot-left-grid a{
  color: #ffffff;
  text-decoration: none;
}

.black-text{
	color: black;
}

.side-nav a{
	color: black;
	font-size: 1.1rem;
}

ul{
	padding-left: 1rem;
}

.active, .nav-link:hover, .foot-left-grid a:hover {
 color: #bababa;
}

.sMargin-p{
	margin: 0.4rem 0rem 0.4rem 0rem;
}

.back-up {
  height: 2.8rem;
  width: 2.8rem;
  background-color: #cccac7;
  position: fixed;
  right: 5rem;
 	bottom: 4rem;
 	border-radius: 50%;
 	opacity: 0.5;
}
.arrow-up{
	border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  color: white;
  position: relative;
  left: 0.94rem;
  top: 1.05rem;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.home-footer{
		margin: 0rem 3rem 2rem 3rem;
	}

.about-footer{
		margin: 0rem 3rem 2rem 1rem;
	}

/*------------------FONTS------------------*/

body{
   font-family: 'neue_haas_grotesk_disp55roman', serif;
   letter-spacing: 0.03rem;
}

.reflection h2, .reflection h3, .reflection p{
	color: white;
	}

#home-bio h2{
	font-family: 'neue_haas_grotesk_disp55roman';
	font-size: 3rem;
	margin: 0;
	width: clamp(25ch, 90%, 50ch);
	font-weight: 4;
	line-height: 3.25rem;	
}

#home-bio h5{
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
	color: black;
}

#home em, .about-item-text em{
	font-family: 'AGaramondPro-Regular';
}

#trackling-project-body em, #ea-project-body em{
	font-style: normal;
	text-decoration: underline;
}

.about-item-text em{
	font-weight: lighter;
	font-size: 3.3rem;
}

#home-bio em{
	font-size: 3.3rem;
}

#home-projects h3{
	font-size: 2.4rem;
	margin: 0.5rem 0rem 0.5rem 0rem;
	font-family: 'neue_haas_grotesk_disp55roman';
}

.home-projects-desc h5{
	font-size: 1.2rem;
	margin: 0.5rem 0rem 0.5rem 0rem;
	font-family: 'AGaramondPro-Regular';
	font-style: italic;
	font-weight: lighter;
}

.splitwise-project img, .ea-project img{
	justify-self: end;
}

.home-projects-desc{
	margin-left: 6.5rem;
}

.home-projects-grid p, .home-projects-grid h5{
	width: clamp(25ch, 85%, 45ch);
}

#home-about h2{
	margin-top: 0;
}

/*.ea-project h3, .ea-project h5, .splitwise-project h3, .splitwise-project h5{
	color: white;
}*/

strong{
	/*color: #a7cf00;*/
	font-family: 'neue_haas_grotesk_display65Md';
}

.home-footer p{
	color: white;
	font-size: 1.1rem;
}

.about-footer p{
	color: black;
	font-size: 1.1rem;
}

#ea-project-body p, #trackling-project-body p, .about-item-text p{
	font-size: 1.3rem;
	line-height: 2.3rem;
	letter-spacing: 0.065rem;
}


h2{
	font-family: 'neue_haas_grotesk_display35Th';
	font-size: 1.55rem;
}

h3{
	font-family: 'neue_haas_grotesk_display65Md';
	font-size: 1.35rem;
}

h4{
	font-size: 1.17em ;
	color: #878787;
	font-family: 'neue_haas_grotesk_display65Md';
	margin: 0.6rem 0rem 0.6rem 0rem;
}

h5{
	font-size: 1.17rem;
	margin: 0.6rem 0rem 0rem 0rem;
}

figcaption{
	font-size: 0.75rem;
}

h3.middle{
	color: white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
	.main-container{
		margin: 0;
	}
	nav, #home-bio, .about-nav{
		margin: 0.9rem 0.9rem 0.9rem 0.9rem;
	}
	#home-bio h2{
		width: auto;
		font-size: 3rem;
		line-height: 1.1;
	}
	#home-bio em {
    font-size: 3.3rem;
	}
	#home-projects h3{
		font-family: 'neue_haas_grotesk_disp55roman';
	}
	.home-projects-desc{
		margin: 0.9rem 0.9rem 0.9rem 0.9rem;
	}
	.home-projects-grid p, .home-projects-grid h5 {
		width: auto;
	}
	.middle{
		display: none;
	}
	.home-footer h5{
		font-size: 1rem;
    margin: 0.6rem 0rem 0rem 0.9rem;
	} 
	.back-up{
		right: 1.8rem;
    bottom: 1.8rem;
	}

}


/*------------------ HOME ------------------*/
.home-projects-grid img{
	margin-left: 2rem;
}

#home-projects a{
	text-decoration: none;
	color: inherit;
}

#home-projects img{
	height: 23rem;
}

.trackling-project img{
	justify-self: center;
}

.ea-project{
    background: radial-gradient(ellipse farthest-corner at 820px 166px, 
    	rgba(255,40,82,1) 13%, rgba(255,141,77,1) 53%, rgba(255,222,82,1) 100%);
}


.trackling-project{
/*background-image: linear-gradient(
  315deg,
  hsl(0deg 0% 100%) 0%,
  hsl(166deg 46% 87%) 9%,
  hsl(167deg 47% 74%) 16%,
  hsl(169deg 48% 60%) 23%,
  hsl(169deg 48% 60%) 28%,
  hsl(169deg 48% 60%) 31%,
  hsl(169deg 48% 60%) 34%,
  hsl(167deg 47% 74%) 39%,
  hsl(166deg 46% 87%) 61%,
  hsl(0deg 0% 100%) 100%
);*/
background-image: linear-gradient(
  120deg,
  hsl(0deg 0% 100%) 0%,
  hsl(225deg 84% 95%) 2%,
  hsl(224deg 83% 90%) 9%,
  hsl(213deg 86% 83%) 23%,
  hsl(195deg 73% 70%) 45%,
  hsl(177deg 50% 60%) 67%,
  hsl(184deg 57% 62%) 83%,
  hsl(200deg 79% 75%) 93%,
  hsl(223deg 83% 86%) 100%
);
}

.splitwise-project{
/*background: rgb(111,150,249);
background: linear-gradient(90deg, 
	rgba(85,133,255,0.95) 3%, rgba(85,133,255,1) 40%, rgba(243,243,254,1) 100%);*/
background-image: linear-gradient(
  13deg,
  hsl(268deg 68% 39%) 0%,
  hsl(255deg 46% 70%) 55%,
  hsl(255deg 58% 76%) 65%,
  hsl(268deg 63% 59%) 100%
);

}

/* .vscia-project{
	background-image: linear-gradient( 135deg, hsl(223deg 87% 44%) 0%, hsl(227deg 78% 78%) 81%, hsl(225deg 93% 83%) 92%, hsl(223deg 90% 63%) 100% );
} */

.ea-project:hover{
	background-size: 400% 400%;
 	animation: gradient 3s ease infinite;
}

.trackling-project:hover{
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.highlight-dark{
	background-color: #0F0F0F;
}

.highlight-light{
	background-color: #F1F1F1;
}


div.para-spacing{
	padding-top: .4rem;
	padding-bottom: .4rem;
}


ul li{
	line-height: 1.7em;
	font-size: 1.2em;
	letter-spacing: 0.05rem;
}

.footer-container{
	grid-column-start: 1;
	grid-column-end: 31;
	margin-left: 5rem;
	margin-right: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
} 

.footer-container a{
	text-decoration: none;
	color: black;
}

.footer-container{
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.footer-right{
	display: flex;
	margin-left: auto;
}

.footer-left{
	display: flex;
}

.arrow-line-r{
  position: relative;
  left: 8px;
}

.arrow-point-r{
  border: solid rgb(58, 43, 27);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3.5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-line-r, .arrow-line-l{
	margin-top: 9.5px;
  width: 30px;
  background: #3A2B1B;
  height: 2px;
  float: left;
}

.arrow-point-l{
  border: solid rgb(58, 43, 27);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3.5px;
  position: relative;
  right: 30px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
 
.ea-research figure{
	margin: 0px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 700px){
	.home-projects-grid img{
		margin-left: 0rem;
	}
	.footer-container{
		 margin-left: 0.9rem;
    margin-right: 0.9rem;
	}
		ul li{
		font-size: 1.3rem;
	}

	.about-content{
		padding: 0rem 0rem 0rem 0rem;
	}
}


/*----------------ABOUT------------------*/


.about-item{
	justify-self: flex-end;
}


#about h2{
	font-size: 2.8rem;
	line-height: 3.5rem;	
	margin: -.7rem 0rem 1.5rem 0rem
}

#contact-links{
	padding: 5rem 0rem 2rem 0rem;
	display: grid;
	justify-content: center;
}

.resume-button , .linkedln-button{
	/*border-width: 1.8px; 
	border-style: solid;*/
	padding: 1rem 6rem;
  max-width: 12em;
	text-decoration: none;
	font-size: 1.5rem;
	color: #000000;
	margin-bottom: 1rem;
}

.resume-button{
	background-color: #ffe1c6;
	color: #ea7404;
}

.linkedln-button{
	background-color: #b8e4f9;
	color: #084664;
}

.resume-button:hover{
	outline: solid black;
	color: black;
	background: white;
}

.linkedln-button:hover{
	outline: solid black;
	color: black;
	background: white;
}

.about-skill-grid p{
	margin-bottom: 0rem;
}

.about-skill-grid ul{
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.about-content{
	padding-top: 0.75rem;
	padding-right: 3rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
	.about-margin{
		margin: 0em;
	}
	section#about{
		padding-top: 0rem;
	}
	.home-subbio{
		white-space: inherit;
	}
	.about-item-text{
		margin: 0.9rem 0.9rem 0.9rem 0.9rem;
	}
	.about-content{
	padding-top: 0rem;
	padding-right: 0rem;
}
}



/*---------------EA------------------*/
#navigation h3{
	padding-left: 5rem;
	margin-bottom: 0rem;
}

.project-detail li{
	list-style-type: none;
}

.project-detail ul{
	padding: 0; 
  margin: 0;
}

.solution-button{
	color: gray;
}

.ea-criteria li, .ea-focus li{
	list-style: none;
}

.ea-focus ol{
	padding-inline-start: 0em;
}

#ea-gamestate{
	color: #FFFFFF;
	background-color: #0f101a;
}

.reflection{
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #0F0F0F;
}

hr.section_separator{
	width: auto;
	height: 0.5px;
	background-color:black;
	margin-bottom: 2rem;
}

.checkbox{
	width: 1rem;
	height: 1rem;
	background-color: white;
}

.thefinding, .thefinding-trac{
	border: 1.85px dashed #838383;
	margin: 1rem 1rem 1rem 0rem;
	padding: 0.7rem 1rem 0.9rem 1.2rem;
}

.thefinding-CA{
		border: 1.85px dashed #838383;
    margin: 1rem 0rem 1rem 0rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
}


.thefinding p, .thefinding-trac p{
	margin:0rem;
	line-height: 0rem;
}

.thefinding h5, .thefinding-trac h5{
	margin: 0rem;
	font-size: 1.10rem;
	font-family:'neue_haas_grotesk_display65Md';
}

.findings-grid-CA{
	padding-top: 1.5rem ;
}

.ea-changes p{
	margin-top: 0;
	margin-bottom: 0.5rem;
}

h3.number{
	margin-bottom: 0;
	margin-top: 0.5rem;
	color: #878787;
}

.ea-changes, .ea-considerations{
	padding-top: 1.7rem;
}

.ea-criteria.highlight-light{
	margin-bottom: 0;
}

.ea-impact-grid h5{
	margin:0.8rem 0rem 0.8rem 0rem ;
}

.ea-impact, .ea-impact-big{
	padding: 0.5rem 2rem 0.5rem 1.5rem;
	display: grid;
	grid-template-columns: 0.1fr 1fr;
	align-items: center;
}

.ea-impact{
	border: 2px dashed #838383;
}

.ea-impact-big{
	border: 1.9px solid #4e4e4e;
}

.reflection h3{
	font-size: 1.1rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
	.ea-impact, .ea-impact-big {
		grid-template-columns: 0.25fr 1fr;
		padding: 0.5rem 1.2rem 0.5rem 1rem;
	}
}

/* ------------------ TRACKLING ------------------*/
#trackling-mock{
	background-color: #F3F9F8;
}

#trackling-mock img{
	margin-bottom: 1rem;
}

.trackling-prototype a{
	text-decoration: none;
	color: #409686;
	font-size: 1.5rem;
}



/*.nav-link::after {
  border-bottom: 2px solid;
  display: inline-block;
  line-height: 1.7;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}*/

.middle {
opacity: 0;
position: relative;
left: 102px;
bottom: 188px;
display: inline-block;
}

.middle h3{
	color: red;
}


.wip-project:hover .splitwise-project-h5, .wip-project:hover  .splitwise-project-h3{
  color: transparent;
}

.wip-project:hover .splitwise-project{
	background: black;
	outline: solid 1px white;
}

.wip-project:hover img{
	opacity: 0;
}

.wip-project:hover .middle{
	opacity: 1;
}


/* ------------------ MODAL IMG ------------------*/

.modal-target {
  cursor: pointer;
}

/*.modal-target:hover {opacity: 0.8;}*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 85%;
  opacity: 1 !important;
  max-width: 1200px;
}


/* The Close Button */
.modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
	.middle {
    left: 50px;
    bottom: 340px;
  }
}

@media screen and (min-width: 700px){
		.home-projects-grid img {
    margin-left: 0rem;
	}
}

@media screen and (min-width: 1000px)  {
	.middle {
		bottom: 210px;
	}
	#ea-project-body p, #trackling-project-body p, .about-item-text p{
	font-size: 1.15rem;
	line-height: 1.7rem;
	letter-spacing: 0.06rem;
	}

}

@media screen and (min-width: 1000px)  {
	#home-projects h3 {
    font-size: 2.2rem;
   }
}


@media screen and (min-width: 1400px)  {
	.middle {
		bottom: 260px;
	}
	#home-projects img{
		height: 26rem;
	}
	#home-bio h2{
		font-size: 3.7rem;
		line-height: 3.9rem;
	}
	#home-bio em{
		font-size: 4.1rem;
	}
	ul li {
    line-height: 1.7em;
    font-size: 1.1rem;
    letter-spacing: 0.062rem;
	}
}

@media screen and (min-width: 1900px)  {
	#home-projects h3 {
    font-size: 2.7rem;
   }
}