#index, #about-page, .footer-container, .reflection{
	background-color: #0F0F0F;
}

#home-bio, .about-item-text, .reflection p{
	color: #bababa;
}


/* BLACK VERSION 
p, h1, h2, h3, li, h5{
	color: white;
}


.highlight-content-light h1, .highlight-content-light h2, 
#trackling-mock h1, #trackling-mock h2, #trackling-mock p, #trackling-mock h5,

}

#trackling-mock strong{
	color: #a9d100;
	font-family: 'neue_haas_grotesk_display65Md';
}


h2.project-title{
	font-family: 'AGaramondPro-Regular';
  font-style: italic;
  font-weight: lighter;
  font-size: 1.4rem;
}
*/

* {
    box-sizing: border-box;
    word-wrap: break-word;
}

img{
	max-width: 100%;
	height: auto;
}

/* top right bottom left */
.main-container{
	margin:2rem 2rem 2rem 2rem;
}

.home-subbio{
	white-space: nowrap;
}

.home-subbio p{
	margin: 0.15rem 0rem 0.15rem 0rem;
}

.home-subbio img{
 float:left;
 margin-right: 0.5rem;
 align-items: center;
}

.location{
	text-align: right;
	color: #bababa;
	font-size: 1rem;
	padding-right: 1rem;
}

nav ul{
 	margin-top: 0rem;
 	list-style-type: none;
}

nav li{
	margin-bottom: 1rem;
}

nav li a , .foot-left-grid a{
  color: #bababa;
  text-decoration: none;
}

.black-text{
	color: black;
}

.side-nav a{
	color: #bababa;
	font-size: 1.2rem;
}

ul{
	padding-left: 1rem;
	padding-top: 1rem;
}

.active, .nav-link:hover, .foot-left-grid p:hover, .footer-container a:hover{
 color: white;
}

.sMargin-p{
	margin: 0.2rem 0rem 0.2rem 0rem;
}

.back-up {
  height: 2.8rem;
  width: 2.8rem;
  background-color: #cccac7;
  position: fixed;
  right: 5rem;
 	bottom: 4rem;
 	border-radius: 50%;
 	opacity: 0.5;
}
.arrow-up{
	border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  color: white;
  position: relative;
  left: 0.94rem;
  top: 1.05rem;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.home-footer, .about-footer{
		/*margin: 16rem 3rem 3rem 3rem;*/
		position: absolute;
  	bottom: 0;
  	width: 100%;
  	padding: 0rem 3rem 2rem 3rem;
	}


/*------------------FONTS------------------*/

body{
   font-family: 'neue_haas_grotesk_disp55roman', serif;
   letter-spacing: 0.03rem;
}


#home-bio h2, #about h2{
	font-family: 'neue_haas_grotesk_disp55roman';
	font-size: 2.7rem;
	margin: 0;
	line-height: 3.25rem;	
}

.home-bio-head{
	margin-bottom: 1.9rem;
}

#home-bio h3{
	font-family: 'neue_haas_grotesk_disp55roman';
	margin-block-start: 0.3rem;
	margin-block-end: 0.3rem;
}

#home-bio h5{
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
	color: black;
}


#trackling-project-body em, #ea-project-body em{
	font-style: normal;
}

.text-focus em, .track-solution-final strong, .reflection strong, .reflection h3, .reflection h2{
    color: white;
}

.about-item-text em{
	font-weight: lighter;
	font-size: 3.3rem;
}

#home-bio em{
	font-size: 3.3rem;
}

#home-projects h3{
	font-size: 2.1rem;
	margin: 0.5rem 0rem 0.5rem 0rem;
	font-family: 'neue_haas_grotesk_disp55roman';
}

.home-projects-desc h5{
	font-size: 1.2rem;
	margin: 0.5rem 0rem 0.5rem 0rem;
	font-family: 'neue_haas_grotesk_display35Th';
}


.home-projects-desc{
	margin-left: 6.5rem;
}

.home-projects-grid h5{
	width: clamp(25ch, 85%, 45ch);
}

#home-about h2{
	margin-top: 0;
}

strong{
	font-family: 'neue_haas_grotesk_display65Md';
}

.about-item-text strong, #home strong, a.foot-left-grid{
 font-family: 'neue_haas_grotesk_disp55roman';
 color: white;
 text-decoration: none;
}

.home-footer p, .about-footer p{
	color: #bababa;
	font-size: 1.1rem;
}


#ea-project-body p, #trackling-project-body p, .about-item-text p{
	font-size: 1.3rem;
	line-height: 2.3rem;
	letter-spacing: 0.065rem;
}

h2{
	font-family: 'neue_haas_grotesk_display35Th';
	font-size: 2.4rem;
	color: #747474;
}

h3{
	font-family: 'neue_haas_grotesk_display65Md';
	font-size: 1.2rem;
}

h4{
	font-size: 1.17em ;
	color: #878787;
	font-family: 'neue_haas_grotesk_display65Md';
	margin: 0.6rem 0rem 0.6rem 0rem;
}

h5{
	font-size: 1.10rem;
	font-family:'neue_haas_grotesk_display65Md';
	margin: 0.6rem 0rem 0rem 0rem;
}

figcaption{
	font-size: 0.75rem;
}

h3.middle{
	color: white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 520px){
	.main-container{
		margin: 0;
	}
	nav, #home-bio{
		margin: 1.5rem;
	}
#home-bio h2, #about h2{
		width: auto;
		font-size: 2.4rem;
		line-height: 1.1;
	}
	#home-bio em {
    font-size: 3.3rem;
	}
	#home-projects h3{
		font-family: 'neue_haas_grotesk_disp55roman';
	}
	.home-projects-desc{
		margin: 0.9rem 0.9rem 0.9rem 0.9rem;
	}
	.home-projects-grid p, .home-projects-grid h5 {
		width: auto;
	}
	.middle{
		display: none;
	}
	.home-footer, .about-footer{
		position: relative;
	}
	.home-footer h5{
		font-size: 1rem;
    margin: 0.6rem 0rem 0rem 0.9rem;
	} 
	.back-up{
		right: 1.8rem;
    bottom: 1.8rem;
	}

}


/*------------------ HOME ------------------*/
.home-projects-grid img{
	margin-left: 2rem;
}

#home-projects a, #home-bio a{
	text-decoration: none;
	color: inherit;
}


.trackling-project img{
	justify-self: center;
}

.ea-project{
  background: radial-gradient(circle at 75% 96%, rgb(131 156 253) 11%, 
  rgb(167 164 255) 44%, #b8dbfd 100%);
  color: #141414;
}

.ea-project:hover{
	background-size: 400% 400%;
 	animation: gradient 6s ease infinite;
}

.trackling-project{
color: #141414;
background: radial-gradient(circle at 75% 98%, rgb(164 229 98) 0%, 
 rgb(217 255 136) 33%,rgb(255 145 190) 85%);
}

.trackling-project:hover{
	background-size: 400% 400%;
	animation: gradient 6s ease infinite;
}

.notetracks-project{
background: radial-gradient(circle at 86% 98%, rgb(254 190 52) 5%, 
  #a0cff8 34%, rgb(251 227 113) 86%);
color: #141414;
}

.notetracks-project:hover{
	background-size: 400% 400%;
	animation: gradient 6s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.home_tag p{
	font-family: 'neue_haas_grotesk_display65Md';
	font-size: 0.8rem;
	padding: 0.5rem 0.5rem;
	margin: 0.5rem 0rem 0.5rem 0rem;
	border: solid 1.35px #212121;
	color: #242424;
}

.highlight-dark{
	background-color: #131313;
}

.highlight-dark h1{
	color: #919090;
}

.highlight-dark h2{
	color: white;
	font-size: 1.9rem;
}

.highlight-light{
	background-color: #F1F1F1;
}

div.para-spacing{
	padding-top: .4rem;
	padding-bottom: .4rem;
}

ul li{
	line-height: 1.7em;
	font-size: 1em;
	letter-spacing: 0.05rem;
}

.footer-container{
	grid-column-start: 1;
	grid-column-end: 31;
	padding: 3rem 3rem 3rem 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
} 

.footer-container a{
	text-decoration: none;
	color: #bababa;
	font-size: 1rem;
}


.footer-right{
	display: flex;
	margin-left: auto;
}

.footer-left{
	display: flex;
}

.ea-research figure{
	margin: 0px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 700px){
	.home-projects-grid img{
		margin-left: 0rem;
	}

		ul li{
		font-size: 1rem;
	}

	.about-content{
		padding: 0rem 0rem 0rem 0rem;
	}

	.footer-container{
		padding: 3rem 1rem 3rem 1rem;
	}
}


/*----------------ABOUT------------------*/


.about-item{
	justify-self: flex-end;
}


#about h2{	
	margin: -.4rem 0rem 1.5rem 0rem
}

#contact-links{
	padding: 5rem 0rem 2rem 0rem;
	display: grid;
	justify-content: center;
}

.resume-button , .linkedln-button{
	/*border-width: 1.8px; 
	border-style: solid;*/
	padding: 1rem 6rem;
  max-width: 12em;
	text-decoration: none;
	font-size: 1.5rem;
	color: #000000;
	margin-bottom: 1rem;
}


.about-skill-grid p{
	margin-bottom: 0rem;
}

.about-skill-grid ul{
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.about-content{
	padding-top: 0.75rem;
	padding-right: 3rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 520px){
	.about-margin{
		margin: 0em;
	}
	section#about{
		padding-top: 0rem;
	}
	.home-subbio{
		white-space: inherit;
	}
	.about-item-text{
		margin: 0.9rem 0.9rem 0.9rem 0.9rem;
	}
	.about-content{
	padding-top: 0rem;
	padding-right: 0rem;
}
}



/*---------------EA------------------*/
.navigation h3{
	padding-left: 5rem;
	margin-bottom: 0rem;
}

.project-detail li{
	list-style-type: none;
}

.project-detail ul{
	padding: 0; 
  margin: 0;
}

.solution-button{
	color: gray;
}

.sub-sec{
	padding-bottom: 3rem;
}

.sub-sec-trackling{
	padding-bottom: 1.1rem;
}

.sub-sec-img{
	padding-bottom: 4.5rem;
}

.ea-criteria li, .ea-focus li{
	list-style: none;
}

.ea-focus ol{
	padding-inline-start: 0em;
}

#ea-gamestate, #trackling-mock{
	color: #FFFFFF;
	background-color: #0f0f0f;
}

#trackling-mock p{
	color: #bababa;
}

.reflection{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

hr.section_separator{
	width: auto;
	height: 0.5px;
	background-color:black;
	margin-bottom: 2.5rem;
}



.thefinding-trac{
	background-color: #F1F1F1;
	margin: 1rem 0rem 1rem 0rem;
	padding: 0.7rem 1rem 0.9rem 1.2rem;
}

.thefinding-CA{
	margin: 1rem 0rem 1rem 0rem;
   padding: 0.2rem;
}


.thefinding-CA-track{
	margin: 1rem 0rem 1rem 0rem;
  padding: 0.2rem;
  background-color: #F1F1F1;
}

.thefinding-CA-track p{
    padding: 1.65rem;
    margin-block-start: initial;
    margin-block-end: initial;
}


.thefinding p, .thefinding-trac p{
	margin:0rem;
	line-height: 0rem;
}

.thefinding h5, .thefinding-trac h5{
	margin: 0rem;
}


.ea-changes p{
	margin-bottom: 0.5rem;
}

h3.finding-num, h3.number{
	margin-bottom: 0;
	margin-top: 0rem;
	color: #878787;
}

strong.number{
	color: #878787;
	font-size: 1.3rem;
	padding-right: 0.5rem;
}


.ea-changes, .ea-considerations{
	padding-top: 1.7rem;
}

.ea-criteria.highlight-light{
	margin-bottom: 0;
}

.ea-impact-grid h5{
	margin:0.8rem 0rem 0.8rem 0rem ;
	font-family: 'neue_haas_grotesk_disp55roman';
}

.ea-impact{
	background-color: #F1F1F1;
	padding: 1rem 1.7rem 1rem 1.7rem;
	line-height: 1.5rem;
	align-items: center;
}

 .thefinding-CA{
	border: 2px dashed #838383;
}


.reflection h3{
	font-size: 1.1rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 520px){
	.ea-impact {
		grid-template-columns: 0.25fr 1fr;
		padding: 0.5rem 1.2rem 0.5rem 1rem;
	}
}

/* ------------------ TRACKLING ------------------*/
.red-text{
	color: #B3102E;
}

.green-text{
	color: #0C7354;
}

.header-background{
	background-color: #0F0F0F;
}


#trackling-mock img{
	margin-bottom: 1rem;
}

.trackling-prototype a{
	text-decoration: none;
	color: #409686;
	font-size: 1.5rem;
}

strong.orange-font{
	color: #F07C33;
}

strong.red-font{
	color: #D92E5B;
}

/*.nav-link::after {
  border-bottom: 2px solid;
  display: inline-block;
  line-height: 1.7;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}*/

.solution_comp{
    display: grid;
    grid-column-start: 5;
    grid-column-end: 27;
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
}


/* ------------------ MODAL IMG ------------------*/

.modal-target {
  cursor: pointer;
}

/*.modal-target:hover {opacity: 0.8;}*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 85%;
  opacity: 1 !important;
  max-width: 1200px;
}


/* The Close Button */
.modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 520px){
	.middle {
    left: 50px;
    bottom: 340px;
  }

}

@media screen and (min-width: 700px){
		.home-projects-grid img {
    margin-left: 0rem;
	}
}

@media screen and (min-width: 1000px)  {
	.middle {
		bottom: 210px;
	}
	#ea-project-body p, #trackling-project-body p, .about-item-text p{
	font-size: 1.15rem;
	line-height: 1.7rem;
	letter-spacing: 0.06rem;
	}	

	#home-projects h3 {
    font-size: 2.2rem;
   }
}


@media screen and (min-width: 1400px)  {
	.middle {
		bottom: 260px;
	}
	#home-bio h2{
		font-size: 3.2rem;
		line-height: 3.9rem;
	}
	#home-bio em{
		font-size: 4.1rem;
	}
	ul li {
    line-height: 1.7em;
    letter-spacing: 0.062rem;
	}

}


@media screen and (min-width: 1900px)  {
	#home-projects h3 {
    font-size: 2.7rem;
   }

}